*.o
*.lo
*.la
*.so
*.trs
*.log
buffer_test
vector_test
Makefile
Makefile.in
rrtlib*.tar.gz
.deps/
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/compile
/configure
/config.*
/depcomp
/gnulib
/install-sh
/lib
/libtool
/ltmain.sh
/missing
/INSTALL
/test-driver
/stamp-h1
